<div class="card">
    <div class="card-header">
        <strong class="card-title">Clients</strong>
    </div>
    <div class="card-body">
        <table id="bootstrap-data-table" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Entreprise</th>
                    <th>Address</th>
                    <th>Email</th>
                    <th>Téléphone</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Aymon Barjavel</td>
                    <td>Nokia</td>
                    <td>80, Rue du Palais 51200 ÉPERNAY </td>
                    <td>éAymonBarjavel@rhyta.com </td>
                    <td>03.46.43.28.22</td>
                    

                </tr>
               
            </tbody>
        </table>
    </div>
</div>
