<form id="accessories_form" class="parsley-form" method="post" novalidate="">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12 col-lg-4 input-field">
                <div class="form-group">
                    <label>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Nom</font>
                        </font>
                    </label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fas fas fa-file-signature"></i>
                        </div>
                        <input id="a_name" name="a_name" type="text" class="validate form-control input-xs" required="">
                    </div>

                </div>
            </div>
            <div class="col-md-12 col-lg-4 input-field">
                <div class="form-group">
                    <label>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Code UPC</font>
                        </font>
                    </label>
                    <div class="input-group">
                        <input required="" id="a_upc_code" name="a_upc_code" type="text"
                            class="validate form-control input-xs">
                        <span class="input-group-addon" id="upc_gen_accessory" style="padding: 1px 10px;">
                            <i class="fas fa-random"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-4 input-field">
                <div class="form-group">
                    <label>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Prix</font>
                        </font>
                    </label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fas  fa-dollar-sign"></i>
                        </div>
                        <input id="a_price" name="a_price" type="number" step="any" required=""
                            class="validate form-control input-xs">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12 col-lg-4 input-field">
                <div class="form-group">
                    <label>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Quantité d'alerte</font>
                        </font>
                    </label>
                    <input id="alert_quantity" min="0" name="alert_quantity" type="number" step="any"
                        class="validate form-control input-xs" required="">
                </div>
            </div>

            <div class="col-md-12 col-lg-4 input-field">
                <div class="form-group">
                    <label>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Catégorie</font>
                        </font>
                    </label>

                    <select name="category_id" class="form-control tip select2-hidden-accessible select input-xs"
                        id="category_id" style="width:100%;" required="" data-original-title="" title="" tabindex="-1"
                        aria-hidden="true">
                        <option value="" selected="selected">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Veuillez sélectionner</font>
                            </font>
                        </option>
                        <option value="1">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Téléphone Max</font>
                            </font>
                        </option>
                        <option value="3">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Téléphone</font>
                            </font>
                        </option>
                        <option value="5">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Réparation Klant</font>
                            </font>
                        </option>
                        <option value="10">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Réparation eigen voorraad</font>
                            </font>
                        </option>
                        <option value="17">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">VIDANGE</font>
                            </font>
                        </option>
                    </select><span class="select2 select2-container select2-container--default" dir="ltr"
                        style="width: 100%;"><span class="selection"><span
                                class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true"
                                aria-expanded="false" title="" tabindex="0"
                                aria-labelledby="select2-category_id-container"><span
                                    class="select2-selection__rendered" id="select2-category_id-container"
                                    title="Veuillez sélectionner">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">Veuillez sélectionner</font>
                                    </font>
                                </span><span class="select2-selection__arrow" role="presentation"><b
                                        role="presentation"></b></span></span></span><span class="dropdown-wrapper"
                            aria-hidden="true"></span></span>
                </div>
            </div>

            <div class="col-md-12 col-lg-4 input-field">
                <div class="form-group">
                    <label>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Sous-catégorie</font>
                        </font>
                    </label>
                    <select name="sub_category" class="form-control tip select2-hidden-accessible select input-xs"
                        id="sub_category" style="width:100%;" required="" data-original-title="" title="" tabindex="-1"
                        aria-hidden="true">
                        <option value="" selected="selected">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Veuillez sélectionner</font>
                            </font>
                        </option>
                        <option value="2">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Téléphone Apple</font>
                            </font>
                        </option>
                        <option value="4">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Téléphone Samsung</font>
                            </font>
                        </option>
                        <option value="6">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Solution rapide de niveau 1</font>
                            </font>
                        </option>
                        <option value="7">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Batterie de niveau 1 uniquement</font>
                            </font>
                        </option>
                        <option value="8">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Niveau 1 Extreem</font>
                            </font>
                        </option>
                        <option value="9">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Niveau 2 Rapide</font>
                            </font>
                        </option>
                        <option value="11">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Niveau 1</font>
                            </font>
                        </option>
                        <option value="12">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Niveau 2</font>
                            </font>
                        </option>
                        <option value="13">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">petite correction</font>
                            </font>
                        </option>
                        <option value="14">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Seulement batterie</font>
                            </font>
                        </option>
                        <option value="15">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Extreem</font>
                            </font>
                        </option>
                        <option value="16">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Niveau 2 Extreem</font>
                            </font>
                        </option>
                        <option value="18">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">PÉTROLE</font>
                            </font>
                        </option>
                    </select><span class="select2 select2-container select2-container--default" dir="ltr"
                        style="width: 100%;"><span class="selection"><span
                                class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true"
                                aria-expanded="false" title="" tabindex="0"
                                aria-labelledby="select2-sub_category-container"><span
                                    class="select2-selection__rendered" id="select2-sub_category-container"
                                    title="Veuillez sélectionner">Please Select</span><span
                                    class="select2-selection__arrow" role="presentation"><b
                                        role="presentation"></b></span></span></span><span class="dropdown-wrapper"
                            aria-hidden="true"></span></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12 col-lg-4">
                <div class="form-group">
                    <label for="p_max_discount">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Remise max</font>
                        </font>
                    </label>
                    <div class="input-group">
                        <input data-parsley-type="number" id="a_max_discount" name="a_max_discount" value="0"
                            type="text" required="" class="form-control input-xs">
                        <div class="input-group-addon">
                            <select name="a_discount_type" class="skip select input-xs" id="discount_type">
                                <option value="1">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">%</font>
                                    </font>
                                </option>
                                <option value="2">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">Fixé</font>
                                    </font>
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-4 input-field">
                <div class="form-group">
                    <label>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Plans de garantie</font>
                        </font>
                    </label>
                    <select name="warranty_id" class="form-control tip select input-xs" id="warranty_id"
                        style="width:100%;" required="" data-original-title="" title="">
                        <option value="0">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Aucune garantie</font>
                            </font>
                        </option>
                        <option value="1">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">3 mois</font>
                            </font>
                        </option>
                        <option value="4">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">3 années</font>
                            </font>
                        </option>
                        <option value="5">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">24mois</font>
                            </font>
                        </option>
                        <option value="7">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">1 mois</font>
                            </font>
                        </option>
                        <option value="8">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">1 ans</font>
                            </font>
                        </option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12 col-lg-4 input-field">
                <div class="form-group all">
                    <div class="checkbox-styled checkbox-inline">
                        <input type="hidden" name="taxable" value="0" class="input-xs">
                        <input type="checkbox" id="taxable" checked="" name="taxable" value="1"
                            data-parsley-multiple="taxable" class="input-xs">
                        <label for="taxable">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Imposable?</font>
                            </font>
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-4 input-field">
                <div class="form-group all">
                    <div class="checkbox-styled checkbox-inline">
                        <input type="hidden" name="is_serialized" value="0" class="input-xs">
                        <input type="checkbox" id="is_serialized" name="is_serialized" value="1"
                            data-parsley-multiple="is_serialized" class="input-xs">
                        <label for="is_serialized">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Le stock est-il sérialisé?</font>
                            </font>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="input-field col-lg-12">
            <div class="form-group">
                <label>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Remarques</font>
                    </font>
                </label>
                <textarea required="" class="form-control" name="note" id="note" rows="6"></textarea>
            </div>
        </div>
    </div>
</form>