<div class="card">
    <div class="card-header">
        <strong class="card-title">Accessoires</strong>
    </div>
    <div class="card-body">
        <table id="bootstrap-data-table" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>UPC code</th>
                    <th>Prix</th>
                    <th>Remise</th>
                   
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Nokia 4G</td>
                    <td>4G34</td>
                    <td>22</td>
                    <td>5%</td>
                    
                </tr>
               
            </tbody>
        </table>
    </div>
</div>