<div class="card">
    <div class="card-header">
        <strong class="card-title">Téléphone utilisées</strong>
    </div>
    <div class="card-body">
        <table id="bootstrap-data-table" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>IMEI</th>
                    <th>Prix</th>
                    <th>Fabricant</th>
                    <th>Modele</th>
                    <th>Statut</th>
                    <th>Blocker</th>
                    <th>Vendu</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Nokia 4G</td>
                    <td>4G34</td>
                    <td>22</td>
                    <td>Nokia</td>
                    <td>5K</td>
                     <td>bon</td>
                      <td>non</td>
                       <td>non</td>

                </tr>
               
            </tbody>
        </table>
    </div>
</div>
