<div class="card">
    <div class="card-header">
        <strong class="card-title">Réparation</strong>
    </div>
    <div class="card-body">
        <table id="bootstrap-data-table" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Numero de serie</th>
                    <th>Nom</th>
                    <th>Téléphone</th>
                    <th>Probléme</th>
                    <th>Modèle</th>
                    <th>Date</th>
                    <th>statut</th>
                    <th>Prix</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>46644</td>
                    <td>Nokia</td>
                    <td>13123123</td>
                    <td>écran cassé</td>
                    <td>3R4R3</td>
                    <td>12/01/2020</td>
                    <td>écran cassé</td>
                    <td>300</td>
                    <td><button disabled type="button" class="btn btn-primary btn-sm">voir</button>
                        <button disabled type="button" class="btn btn-warning btn-sm">editer</button>
                        <button disabled type="button" class="btn btn-danger btn-sm">Supprimer</button></td>
                </tr>
               
            </tbody>
        </table>
        <button  type="button" class="btn btn-success btn-sm">Ajouter</button>
    </div>
</div>
