<form action="https://preview.otsglobal.org/rms_pro/panel/inventory/add" data-toggle="validator" role="form" class="parsley-form" enctype="multipart/form-data" method="post" accept-charset="utf-8" novalidate="">
    <div class="row">
    <div class="col-md-6">
        <div class="form-group all">
            <label for="name"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Nom du produit</font></font></label>                            <input type="text" name="name" value="" class="form-control" id="name" required="required">
        </div>
        <div class="form-group all">
            <label for="code"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Code UPC</font></font></label>                            <div class="input-group">
                <input type="text" name="code" value="" class="form-control" id="code" required="">
                <span class="input-group-addon pointer" id="random_num" style="padding: 1px 10px;">
                    <i class="fas fa-random"></i>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label for="model_manufacturer"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Fabricant</font></font></label>                            <div class="input-group">
                <div class="input-group-addon">
                    <i class="fas  fa-folder"></i>
                </div>
                                                <select name="manufacturer" id="manufacturer" class="form-control select select2-hidden-accessible" style="width: 100%" required="" tabindex="-1" aria-hidden="true">
<option value="41"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Pomme</font></font></option>
<option value="42"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Dell</font></font></option>
<option value="94"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Kia</font></font></option>
<option value="96"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">kjhjkjhk</font></font></option>
<option value="106"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Huawei</font></font></option>
</select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-manufacturer-container"><span class="select2-selection__rendered" id="select2-manufacturer-container" title="Pomme"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Pomme</font></font></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                
                    <a class="add_manufacturer btn input-group-addon"><i class="fas fa-plus"></i></a>
            </div>
        </div>
        <div class="form-group">
            <div class="form-group">
                <label for="model"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Modèle</font></font></label>                                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fas  fa-folder"></i>
                    </div>
                    <input required="" type="text" name="model" id="model" class="form-control " value="">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Plans de garantie</font></font></label>
            <select name="warranty_id" class="form-control select select2-hidden-accessible" id="warranty_id" style="width:100%;" required="" tabindex="-1" aria-hidden="true">
<option value="0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Aucune garantie</font></font></option>
<option value="1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">3 mois</font></font></option>
<option value="4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">3 années</font></font></option>
<option value="5"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">24mois</font></font></option>
<option value="7"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">1 mois</font></font></option>
<option value="8"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">1 ans</font></font></option>
</select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-warranty_id-container"><span class="select2-selection__rendered" id="select2-warranty_id-container" title="Aucune garantie"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Aucune garantie</font></font></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
           </div>
        <div class="form-group standard">
            <label for="alert_quantity"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Quantité d'alerte</font></font></label>                             <input type="text" name="alert_quantity" value="" class="form-control tip" id="alert_quantity" required="" data-original-title="" title="">
        </div>
         <div class="form-group">
                <label for="p_max_discount"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Remise max</font></font></label>                                <div class="input-group">
                    <input id="max_discount" name="max_discount" value="" type="text" class="validate form-control">
                    <div class="input-group-addon">
                                                               <select name="discount_type" class="skip" id="discount_type">
<option value="1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">%</font></font></option>
<option value="2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Fixé</font></font></option>
</select>
                    </div>
                </div>
            </div>
    </div>
    <div class="col-md-6">
        <div class="form-group standard">
            <label for="delivery_note_number"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Numéro de bordereau de livraison</font></font></label>                            <input type="text" name="delivery_note_number" value="" class="form-control tip" id="delivery_note_number" data-original-title="" title="">
        </div>

        <div class="form-group">
            <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Catégorie</font></font></label>
            <select name="category_id" class="form-control tip select2-hidden-accessible" id="category_id" style="width:100%;" required="" data-original-title="" title="" tabindex="-1" aria-hidden="true">
<option value="" selected="selected"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Veuillez sélectionner</font></font></option>
<option value="1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Téléphone Max</font></font></option>
<option value="3"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Téléphone</font></font></option>
<option value="5"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Réparation Klant</font></font></option>
<option value="10"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Réparation eigen voorraad</font></font></option>
<option value="17"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">VIDANGE</font></font></option>
</select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" title="" tabindex="0" aria-labelledby="select2-category_id-container"><span class="select2-selection__rendered" id="select2-category_id-container"><span class="select2-selection__placeholder"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Veuillez sélectionner</font></font></span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
        </div>
        <div class="form-group">
            <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sous-catégorie</font></font></label>
            <select name="sub_category" class="form-control tip select2-hidden-accessible" id="sub_category" style="width:100%;" required="" data-original-title="" title="" tabindex="-1" aria-hidden="true">
<option value="" selected="selected"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Veuillez sélectionner</font></font></option>
<option value="2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Téléphone Apple</font></font></option>
<option value="4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Téléphone Samsung</font></font></option>
<option value="6"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Solution rapide de niveau 1</font></font></option>
<option value="7"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Batterie de niveau 1 uniquement</font></font></option>
<option value="8"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Niveau 1 Extreem</font></font></option>
<option value="9"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Niveau 2 Rapide</font></font></option>
<option value="11"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Niveau 1</font></font></option>
<option value="12"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Niveau 2</font></font></option>
<option value="13"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">petite correction</font></font></option>
<option value="14"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Seulement batterie</font></font></option>
<option value="15"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Extreem</font></font></option>
<option value="16"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Niveau 2 Extreem</font></font></option>
<option value="18"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">PÉTROLE</font></font></option>
</select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" title="" tabindex="0" aria-labelledby="select2-sub_category-container"><span class="select2-selection__rendered" id="select2-sub_category-container"><span class="select2-selection__placeholder"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Veuillez sélectionner</font></font></span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
        </div>
        <div class="form-group all">
            <label for="price"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Prix ​​du produit</font></font></label>                            <input type="text" name="price" value="" class="form-control tip" id="price" required="required" data-original-title="" title="">
        </div>
        <div class="form-group all">
            <div class="checkbox-styled checkbox-inline checkbox-circle">
                <input type="hidden" name="taxable" value="0">
                <input type="checkbox" id="taxable" checked="" name="taxable" value="1" data-parsley-multiple="taxable">
                <label for="taxable"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Imposable?</font></font></label>
            </div>
        </div>
        <div class="form-group all">
            <div class="checkbox-styled checkbox-inline checkbox-circle">
                <input type="hidden" name="is_serialized" value="0">
                <input type="checkbox" id="is_serialized" name="is_serialized" value="1" data-parsley-multiple="is_serialized">
                <label for="is_serialized"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Le stock est-il sérialisé?</font></font></label>
            </div>
        </div>
        <div class="form-group all">
            <div class="checkbox-styled checkbox-inline">
                <input type="hidden" name="universal" value="0">
                <input type="checkbox" id="universal" name="universal" value="1" data-parsley-multiple="universal">
                <label for="universal"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Est universel</font></font></label>
            </div>
        </div>
        <div class="form-group all">
            <div class="checkbox-styled checkbox-inline checkbox-circle">
                <input type="checkbox" name="variants" id="pv" value="1" data-parsley-multiple="variants">
                <label for="pv"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Variantes de produits </font></font></label>
            </div>
        </div>
        <div id="variants_table" style="display: none;">
            <table id="mup" class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                                                                 <tr>
                                <td>
                                    <input type="text" class="form-control required" name="variant_name[]" placeholder="Name">
                                </td>
                                <td>
                                    <input type="number" step="any" min="0" class="form-control required" name="variant_price[]" placeholder="Price">
                                </td>
                            </tr>
                                                            </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4">
                                <a class="btn btn-default btn-xs" href="javascript:void(0);" id="add_row">
                                    <i class="fas fa-plus"></i>
                                    Add More...                                                </a>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>        
        </div>
    </div>
    </form>