<div class="row">
    <div class="col-md-12 col-lg-4 bio-row">
        <p><span class="bold"><i class="fas fa-user"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Client</font></font></span><span id="rv_client"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">wqdqwdq rtwg</font></font></span></p>
    </div>

    <div class="col-md-12 col-lg-4 bio-row">
        <p><span class="bold"><i class="fas fa-phone"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Téléphone</font></font></span><span id="rv_telephone"></span></p>
    </div>

    <div class="col-md-12 col-lg-4 bio-row stato">
        <p><span class="bold"><i class="fas fa-signal"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> État </font></font></span><span id="rv_condition"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">sept</font></font></span></p>
    </div>
    <div class="col-md-12 col-lg-4 bio-row">
        <p><span class="bold"><i class="fas fa-calendar"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Ouvert à </font></font></span><span id="rv_created_at"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">29.12.2020 06:00:31</font></font></span></p>
    </div>
    <div class="col-md-12 col-lg-4 bio-row">
        <p><span class="bold"><i class="fas fa-link"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Défaut </font></font></span><span id="rv_defect"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Bien</font></font></span></p>
    </div>
    <div class="col-md-12 col-lg-4 bio-row">
        <p><span class="bold"><i class="fas fa-folder-open"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Catégorie </font></font></span><span id="rv_category"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Téléphone</font></font></span></p>
    </div>
    <div class="col-md-12 col-lg-4 bio-row">
        <p><span class="bold"><i class="fas fa-tag"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> IMEI / Série </font></font></span><span id="rv_imei"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">35817262726227</font></font></span></p>
    </div>
    <div class="col-md-12 col-lg-4 bio-row">
        <p><span class="bold"><i class="fas fa-tag"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Fabricant </font></font></span><span id="rv_manufacturer"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Pomme</font></font></span></p>
    </div>
    <div class="col-md-12 col-lg-4 bio-row">
        <p><span class="bold"><i class="fas fa-tag"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Modèle </font></font></span><span id="rv_model"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">566</font></font></span></p>
    </div>

    <div class="col-md-12 col-lg-4 bio-row">
        <p><span class="bold"><i class="fas fa-dollar-sign"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Dépôt</font></font></span><span id="rv_advance"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">0,00 euro</font></font></span></p>
    </div>
    <div class="col-md-12 col-lg-4 bio-row nofloat">
        <p><span class="bold"><i class="fas fa-dollar-sign"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Prix ​​de réparation </font></font></span><span id="rv_price"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">0,00 euro</font></font></span></p>
    </div>
    <div class="col-md-12 col-lg-4 bio-row">
        <p><span class="bold"><i class="fas fa-phone"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Téléphone </font></font></span><span id="rv_phone_number"></span></p>
    </div>
    <div class="col-md-12 col-lg-4 bio-row">
        <p><span class="bold"><i class="fas fa-eye"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Code de réparation </font></font></span><span id="rv_rep_code"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">RÉPARATION / 2020/12/0018</font></font></span></p>
    </div>

    <div class="col-md-12 col-lg-4 bio-row">
        <p><span class="bold"><i class="fas fa-eye"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Attribuer la réparation à </font></font></span><span id="rv_assigned_to"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Admin Admin</font></font></span></p>
    </div>

                    <div class="col-md-12 col-lg-4 bio-row">
            <p><span class="bold"><i class="fas fa-info-circle"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Dépôt </font></font></span><span class="show_custom" id="v4465706f736974"></span></p>
        </div>
    

     <div class="col-md-12">
                    <label class="table-label" for="combo"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Résumé des réparations</font></font></label>

                    <div class="controls table-controls">
                        <table id="prTable" class="table items table-striped table-bordered table-condensed table-hover">
                            <thead>
                            <tr>
                                <th class="col-md-5"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Nom du produit (code UPC)</font></font></th>
                                <th class="col-md-2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Coût unitaire</font></font></th>
                                <th class="col-md-2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Prix ​​unitaire</font></font></th>
                                <th class="col-md-2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Remise</font></font></th>
                                <th class="col-md-2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Impôt</font></font></th>
                            </tr>
                            </thead>
                            <tbody><tr><td colspan="4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">rien à afficher</font></font></td></tr></tbody>

                        </table>
                        <table class="table items table-striped table-bordered table-condensed table-hover">
                            <tfoot>
                                <tr>
                                    <th colspan="1" class="warning"><span class="pull-right"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Total</font></font></span></th>
                                    <th colspan="1" class="info"><span id="price_span"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">0</font></font></span></th>

                                    <th colspan="1" class="warning"><span class="pull-right"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Taxe total</font></font></span></th>
                                    <th colspan="1" class="success"><span id="tax_spane"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">0,00</font></font></span></th>

                                </tr>
                                <tr id="labor_tr">
                                    <th colspan="1" class="warning"><span class="pull-right"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">La main d'oeuvre</font></font></span></th>
                                    <th colspan="1" class="success"><span id="sc_span"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">0,00</font></font></span></th>
                                    <th colspan="1" class="warning"><span class="pull-right"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Travail + Total</font></font></span></th>
                                    <th colspan="1" class="success"><span id="totalprice_span"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">0,00</font></font></span></th>

                                </tr>
                                <tr>
                                    <th colspan="3" class="warning"><span class="pull-right"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">somme finale</font></font></span></th>
                                    <th class="success"><span id="gtotal"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">0,00</font></font></span></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6 bio-row fastsms">
                <div class="form-group rv_comment">
                    <label for="fastsms"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">SMS rapide</font></font></label>                            <textarea class="form-control" id="fastsms" rows="6" placeholder="Envoyez instantanément un SMS au client en saisissant votre texte ici"></textarea>
                    <button type="button" id="sendsmsfast" class="btn btn-xs btn-primary"><i class="fas fa-check"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Envoyer</font></font></button>
                </div>
            </div>
            <div class="col-md-6 bio-row textareacom">
                <div class="form-group comment">
                    <label for="rv_comment"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Problèmes notés et commentaires des techniciens</font></font></label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">&nbsp;(Veuillez noter tous les défauts de l'appareil. Cela apparaîtra sur le rapport de bon de travail.)
                    </font></font><textarea class="form-control" id="rv_comment" rows="6">No power</textarea>
                    <button type="button" id="updateComment" class="btn btn-xs btn-primary"><i class="fas fa-check"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Mettre à jour</font></font></button>
                </div>
            </div>
        </div>
    </div>
</div>